.board {
  height: 70vh;
  width: 60vw;
  background-image: url('../nebula.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  overflow: hidden;
}


.ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 50%; 
  animation: spinBall 2.0s linear infinite;
  background-color: transparent;
  background-image: url(../asteroid.png);
  background-size: cover;
  background-position: center;
  /*box-shadow: 0 0 20px 5px rgb(226, 226, 182, 0.695);*/
}

@keyframes spinBall {
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.paddle {
  top: calc(50% - 55px);
  height: 110px;
  width: 15px;
  position: fixed;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 18px rgb(226, 226, 182, 0.504),
  inset -6px 0 18px #03346E,
  inset 6px 0 18px #03346E,
  inset -6px 0 30px #03346E,
  inset 6px 0 30px #03346E,
  0 0 18px rgb(226, 226, 182), 4px 0 18px
  #03346E, -4px 0 18px #03346E;
}

.paddle_1 {
  left: calc(20% + 30px);
}

.paddle_2 {
  right: calc(20% + 30px);
}
